.forecast-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.forecast-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.hourly-items-container {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  gap: 30px;
  padding: 10px 20px;
}

.hourly-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
}

.hour {
  font-size: 14px;
}

.hourly-icon {
  width: 64px;
}

.temp {
  font-size: 16px;
  font-weight: 500;
}